.account-info
{
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.change-password
{
    font-size: 23px;
    margin-left: 30px;
    margin-top: 40px;
}

.my-account
{
    color: dimgrey;
}

.account-form
{
    margin-left: 50px;
    margin-top: 10px;
}

.account-form input
{
    margin-top:10px;
    margin-bottom: 5px;
}

.account-form button
{
    margin-top: 20px;
    margin-left: -10px;
}

.account-error
{
    color: red;
    padding-top: 5px;
    font-size: 15px;
}

.address-info
{
    font-size: 18px;
    margin-bottom: 10px;
    margin-left: 30px;
}

.account-address
{
    margin-left: 40px;
    width: 70%;
}

.account-address button
{
    margin-top: 10px;
}

.account-address input
{
   width: 80%; 
}


