.login>div
{
    padding: 20px;
    border: none;
}

.login
{
    margin-top: 20px;
    height: auto;
    border: 1px solid black;
}

.login-page
{
    width: 900px;
    margin: auto;
    margin-bottom: 20px;
}

.login-page header-desktop
{
    height: auto;
    width: 100%;
}

.login-page .header-logo
{
    width: 200px;
    height: 100px;
    position: relative;
    display: inline-block;
    margin: 10px;
}

.login-page .logo-big
{
    height: 100%;
    width: auto;
}

.login-separator
{
    height: 380px;
    width: 1px;
    position: absolute;
    background-color: black;
    vertical-align: top;
    margin-top: 18px;
}

@media all and (max-width:899px)
    {
        .login-page
        {
            width: 95%;
        }
       
    }

@media all and (max-width:566px)
    {
         
        .login-separator
        {
            display: none;
        }
    }
