.product-info
{
    padding-left: 10px;
}

.product-price
{
    font-size: 25px;
    padding-top: 5px;
}

.product-price-button
{
    height: 35px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.product-miniDesc
{
    margin-top: -15px;
}

.product-descriere
{
    text-align: center;
    padding: 5px;
}

.product-miniDesc
{
    font-size: 18px;
}

.product-images
{
    padding-top: 10px;
}