html {
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}

*, *:before, *:after 
{
    box-sizing: inherit;
    -webkit-box-sizing:inherit;
    -moz-box-sizing:inherit;
}

body
{
    margin: 0;
    padding: 0;
    background: url("../img/background.png") repeat scroll 0% 0% #FFF;
    font-family: 'Raleway', sans-serif;
}

ul
{
    margin: 0;
    padding: 0;
}

li
{
    list-style: none;
}

a
{
    text-decoration: none;
    color: inherit;
}

.produse div
{
   padding: 5px;
}

.produse div img
{
    width: 100%;
    height: auto;
}

.produse-info p
{
    margin: 5px;
}

.produse-title
{
    font-size: 20px;
}

.produse-price
{
    font-size: 17px;
}

.produse-pret span:first-child
{
    color: red;
    text-decoration: line-through;
}

.produse-pret span
{
    margin-right: 5px;
}

.produse button
{
    display: block;
    margin: auto;
    background: white;
}

button:hover
{
    background: #00adef;
}

.produse-info
{
    padding-left: 20px;
    background: url('http://www.smuff.ro/themes/smuff/images/stripe.png?1362494662');
}

.page
{
    padding-bottom: 10px;
    height: 100%;
}

.big-image-product
{
    width: 100%;
    height: auto;
    padding: 3px;
}

.container
{
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

@media all and (max-width:567px)
{
    
    .desktop
    {
        display: none;
    }
      
    .menu-left .all-content
    {
        position: fixed;
        margin-left: 250px;
        margin-right: -250px;
    }
    
    .menu-right .all-content
    {
        position: fixed;
        margin-left: -250px;
        margin-right: 250px;  
    }
    
    
    .all-content
    {
        transition: 0.3s;
        z-index: 2;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    }
    
    .container
    {
        position: relative;
        padding-top: 51px;
        height: auto;
    }
      
    body 
    {
        overflow-x: hidden;
    } 
}

@media all and (min-width:568px) and (max-width:767px)
{    
    .desktop
    {
        display: none;
    }
      
    .menu-left .all-content
    {
        position: fixed;
        margin-left: 250px;
        margin-right: -250px;
    }
    
    .menu-right .all-content
    {
        position: fixed;
        margin-left: -250px;
        margin-right: 250px;  
    }
    
    
    .all-content
    {
        transition: 0.3s;
        z-index: 2;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    }
    
    .container
    {
        position: relative;
        padding-top: 51px;
        height: auto;
    }
      
    body 
    {
        overflow-x: hidden;
    } 
}

@media all and (min-width:768px) and (max-width:1023px)
{
    
    .desktop
    {
        display: none;
    }
      
    .menu-left .all-content
    {
        position: fixed;
        margin-left: 250px;
        margin-right: -250px;
    }
    
    .menu-right .all-content
    {
        position: fixed;
        margin-left: -250px;
        margin-right: 250px;  
    }
    
    .all-content
    {
        transition: 0.3s;
        z-index: 2;
        -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
        box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.75);
    }
    
    .container
    {
        position: relative;
        padding-top: 51px;
        height: auto;
    }
      
    body 
    {
        overflow-x: hidden;
    } 
}

@media all and (min-width:1024px)
{           
    .page
    {
        width: 1023px;
        height: 100%;
        margin: auto;
        position: relative;
    }
    
    .container
    {
        padding-left: 10px;
        padding-right: 10px;
    }
}